<div class="home">
  <div class="container">
  <p><a ui-sref='categories'><button type="button" class="glyphicon glyphicon-hand-right"></button>Let's Browse the menu!</a></p>
    <img src="https://i.pinimg.com/736x/1c/e5/96/1ce5960079d025992485d042c173242c.jpg" alt="hotel" width="500" height="500">
 =======
  <h3><p><a ui-sref='categories'><button type="button" class="glyphicon glyphicon-hand-right"></button>Let's Browse the menu!</a></p></h3>
  <text x="85" y="97">We are open!</text>
</svg>
</div>
</div>
